//---- header start ----//
.header{
    height: 100vh;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('/zh-an/assets/img/banner2.jpg');
    border-bottom: 5px solid #F1ECE9;
    position: relative;
    >.logo{
        position: absolute;
        right: 25%;
        bottom: 20%;
    }
    .nav{
        position: relative;
        display: flex;
        justify-content:flex-end;
        padding: 0 7% 0 7%;
         .logo{
             position: absolute;
             top: -25px;
             left: 10%;
             margin:10px 0 0 0;
             width: 15%;
             min-width: 220px;
             img{
                 width: 100%;
             }
         }
         .top-menu{
            @media screen and (max-width: 1024px) {
                display: none;
            }
             width: 85%;
             line-height: 5;
             @media screen and (min-width: 1280px){
                 line-height: 5.5;
             }
             @media screen and (min-width: 1980px){
                line-height: 6;
            }
         }
         .menu{
             display: flex;
             justify-content:flex-end;
             li{
                 margin-right: 5%;
                 padding-bottom: 0px;                                  
                 a{
                    position: relative;
                    padding: 5px;
                    font-size: 24px;
                    color: #ffffff;
                    font-family: 標楷體;
                    cursor: pointer;
                    letter-spacing: 3px;
                    transition: .3s;  
                    text-decoration: none ;   
                    &:after{
                        content: '';
                        position: absolute;
                        display: block;
                        top:40px;
                        width: 0;
                        height: 2px;
                        background: #ffffff;
                        transition: .5s;
                    }
                     &:hover{
                         line-height: 5;
                    }
                    &:hover:after{
                        width: 100%;
                    }
                 }

             }
         }
    }
}

//---- header end ----//

//---- content ----//
.content{
    position: relative;
    .content-1-bg{
        width: 100%;
        background-image: url('/zh-an/assets/img/bg.jpg');
        border-bottom: 1px solid #F1ECE9;

        @media screen and (min-width: 1281px){
            height: 750px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1280px){
            height: 700px;
        }
        @media screen and (max-width: 1023px){
            height: 600px;
       }
        @media screen and (max-width:500px){
            height: 1050px;
        }
    }
    .content-1{
        width: 100%;
        position: absolute;
        top: 0;       
        .news{
            margin-top: 25px;
            width: 100%;
            //padding: 20px 7% 20px 7%;
            .news-items{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                .item{
                    padding: 1%;
                    @media screen and (max-width:1024px){
                        width: 40%;
                    }
                    @media screen and (min-width:1025px){
                        width: 20%;
                    }
                    @media screen and (max-width:500px){
                        width: 80%;
                    }
                    .item-img{
                        text-align: center;
                        width: 100%;
                        img{
                            border-radius: 50%;
                            width: 100%;
                            max-width: 350px;
                        }
                    }
                    .item-content{
                        @media screen and (min-width: 1024px){
                            width: 60%;
                        }
                        @media screen and (max-width: 1023px){
                            width: 100%;
                        }
                        text-align: center;
                        margin: 15px auto;
                        color: #ffffff;
                        text-shadow: 1px 1px 2px black;
                    }
                }
            }
        }
    }

    .content-2-bg{
        @media screen and (min-width: 1280px){
            height: 700px;
        }
        @media screen and (min-width: 1025px) and (max-width: 1279px){
            height: 650px;
        }
        @media screen and (max-width: 1024px){
            height: 1200px;
        }
        @media screen and (max-width: 990px){
        height: 1100px;
        }     
        @media screen and (max-width: 800px){
            height: 1000px;
        }   
        @media screen and (max-width:500px){
            height: 1950px;
        } 
        @media screen and (max-width:400px){
            height: 1680px;
        } 
        
            background-image: url('/zh-an/assets/img/bg.jpg');
            border-bottom: 5px solid #F1ECE9;
    }
    .content-2{
        width: 100%;
        top: 0;
        position: absolute;
        .content-2-item{
            margin-bottom:180px;
            

        }
        .news{
            margin-top: 25px;
            width: 100%;
            margin:25px auto auto 0px;
            display: flex;
            justify-content: center;
            .news-items{
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .item{                   
                    padding: 0%;

                    @media screen and (max-width:1024px){
                        width: 40%;
                    }
                    @media screen and (min-width:1025px){
                        width: 20%;
                    }
                    @media screen and (max-width:500px){
                        width: 80%;
                    }
                    .item-img{
                        text-align: center;
                        img{
                            width: 100%;
                            max-width: 350px;
                        }
                        iframe{
                            width: 100%;                                             
                        }
                    }
                    .item-content{
                        @media screen and (min-width: 1024px){
                            width: 60%;
                        }
                        @media screen and (max-width: 1023px){
                            width: 100%;
                        }
                        text-align: center;
                        margin: 15px auto;
                        color: #ffffff;
                        text-shadow: 1px 1px 2px black;
                    }
                }
            }

            .news-link{
                width: 75%;
                height: 50px;
                margin: 25px auto 0px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .item{                   
                    padding: 0%;
                    @media screen and (max-width:1024px){
                        width: 40%;
                    }
                    @media screen and (min-width:1025px){
                        width: 20%;
                    }
                    @media screen and (max-width:500px){
                        width: 80%;
                    }
                    .item-img{
                        text-align: center;
                        img{
                            width: 100%;
                            max-width: 350px;
                        }
                        iframe{
                            width: 100%;                                             
                        }
                    }
                    .item-content{
                        @media screen and (min-width: 1024px){
                            width: 60%;
                        }
                        @media screen and (max-width: 1023px){
                            width: 100%;
                        }
                        a{
                            color: #000000;
                        }
                        text-align: center;
                        letter-spacing: 2px;
                        line-height: 20px;
                        height: 35px;
                        border-radius: 6px;
                        background-color: #ffffff;
                        padding: 15px;
                        text-align: center;
                        margin: 15px auto;
                        color: #ffffff;
                        transition: .5s;
                        border: 0px;
                        &:hover{
                            border: 1px solid #000000;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .content-3-bg{
        @media screen and (min-width: 1280px){
            height: 810px;
        }
        @media screen and (min-width: 1025px) and (max-width: 1279px){
            height: 800px;
        }
        @media screen and (max-width: 1024px){
            height: 1200px;
        }
        @media screen and (max-width: 990px){
        height: 1120px;
        }     
        @media screen and (max-width: 800px){
            height: 1200px;
        }    
        @media screen and (max-width: 700px){
            height: 1300px;
        }    
        @media screen and (max-width:500px){
            height: 2200px;
        } 
        background-image: url('/zh-an/assets/img/bg.jpg');
        border-bottom: 5px solid #F1ECE9;
    }
}
//---- content end ----//

//---- footer start----//
.footer{
    background-color: #E5E3E3;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footer-item{
        width: 30%;
    }
    .logo{
        width: 220px;
    }
    .info{
        .info-item{
            margin-top: 5px;
        }
    }
}
//---- footer end ----//


//---- other ----//
.no-display{
    display: none;
}

.mg20{
    margin: 20px;
}

.mg40{
    margin: 40px;
}

h1{
    margin-top: 15px;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    font-family: 標楷體;
}

.border-radius5{
    border-radius: 30px;
}

.pagination{
    justify-content: center;
}